# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

api/src/main/resources/keys
api/src/main/resources/certs
api/src/main/resources/application-dev.yml
api/bin
api/build
.idea
.vscode

